@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "quicksand";
    font-weight: 400;
    font-style: normal;
  }
  

